.resizeImg {
  height: 50px;
  width: 50px;
}

@font-face {
  font-family: marvelFont;
  src: url(../assets/Marvel-Regular.ttf);
}

body {
    font-family: marvelFont;
    /* background-color: black; */
    background-image: url("../assets/Image\ 10-26-23\ at\ 8.00\ PM.JPG");
}

.blackBackground {
    background-color: black;
}

.whiteText {
    color:white;
    background-color: #e6161b;
    
}

.redText {
    color: #e6161b;
}

h1 {
    font-size: 64px;
}

p, h3 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.changeFont {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}